<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TeddyShoes2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Home</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowProductsServlet</display-name>
    <servlet-name>ShowProductsServlet</servlet-name>
    <servlet-class>controller.ShowProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductsServlet</servlet-name>
    <url-pattern>/ShowProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProductsServlet</display-name>
    <servlet-name>InsertProductsServlet</servlet-name>
    <servlet-class>controller.InsertProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProductsServlet</servlet-name>
    <url-pattern>/InsertProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>controller.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerGetListServlet</display-name>
    <servlet-name>CustomerGetListServlet</servlet-name>
    <servlet-class>controller.CustomerGetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerGetListServlet</servlet-name>
    <url-pattern>/CustomerGetListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>controller.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogOutServlet</display-name>
    <servlet-name>CustomerLogOutServlet</servlet-name>
    <servlet-class>controller.CustomerLogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogOutServlet</servlet-name>
    <url-pattern>/CustomerLogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerManageServlet</display-name>
    <servlet-name>CustomerManageServlet</servlet-name>
    <servlet-class>controller.CustomerManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManageServlet</servlet-name>
    <url-pattern>/CustomerManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegServlet</display-name>
    <servlet-name>CustomerRegServlet</servlet-name>
    <servlet-class>controller.CustomerRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegServlet</servlet-name>
    <url-pattern>/CustomerRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>controller.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/CheckOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogsGetListServlet</display-name>
    <servlet-name>BlogsGetListServlet</servlet-name>
    <servlet-class>controller.BlogsGetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogsGetListServlet</servlet-name>
    <url-pattern>/BlogsGetListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductsUpdateServlet</display-name>
    <servlet-name>ProductsUpdateServlet</servlet-name>
    <servlet-class>controller.ProductsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsUpdateServlet</servlet-name>
    <url-pattern>/ProductsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductsInsertServlet</display-name>
    <servlet-name>ProductsInsertServlet</servlet-name>
    <servlet-class>controller.ProductsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsInsertServlet</servlet-name>
    <url-pattern>/ProductsInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductsGetListServlet</display-name>
    <servlet-name>ProductsGetListServlet</servlet-name>
    <servlet-class>controller.ProductsGetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsGetListServlet</servlet-name>
    <url-pattern>/ProductsGetListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryGetListServlet</display-name>
    <servlet-name>CategoryGetListServlet</servlet-name>
    <servlet-class>controller.CategoryGetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryGetListServlet</servlet-name>
    <url-pattern>/CategoryGetListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryUpdateServlet</display-name>
    <servlet-name>CategoryUpdateServlet</servlet-name>
    <servlet-class>controller.CategoryUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryUpdateServlet</servlet-name>
    <url-pattern>/CategoryUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryInsertServlet</display-name>
    <servlet-name>CategoryInsertServlet</servlet-name>
    <servlet-class>controller.CategoryInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryInsertServlet</servlet-name>
    <url-pattern>/CategoryInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDelServlet</display-name>
    <servlet-name>CategoryDelServlet</servlet-name>
    <servlet-class>controller.CategoryDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDelServlet</servlet-name>
    <url-pattern>/CategoryDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>controller.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticalServlet</display-name>
    <servlet-name>StatisticalServlet</servlet-name>
    <servlet-class>controller.StatisticalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticalServlet</servlet-name>
    <url-pattern>/StatisticalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticalQuantityServlet</display-name>
    <servlet-name>StatisticalQuantityServlet</servlet-name>
    <servlet-class>controller.StatisticalQuantityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticalQuantityServlet</servlet-name>
    <url-pattern>/StatisticalQuantityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticalPriceServlet</display-name>
    <servlet-name>StatisticalPriceServlet</servlet-name>
    <servlet-class>controller.StatisticalPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticalPriceServlet</servlet-name>
    <url-pattern>/StatisticalPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchServlet</display-name>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>controller.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchServlet</servlet-name>
    <url-pattern>/ProductSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>controller.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/ProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>controller.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogHomeServlet</display-name>
    <servlet-name>BlogHomeServlet</servlet-name>
    <servlet-class>controller.BlogHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogHomeServlet</servlet-name>
    <url-pattern>/BlogHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDBillServlet</display-name>
    <servlet-name>ViewDBillServlet</servlet-name>
    <servlet-class>controller.ViewDBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDBillServlet</servlet-name>
    <url-pattern>/ViewDBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerProfileServlet</display-name>
    <servlet-name>CustomerProfileServlet</servlet-name>
    <servlet-class>controller.CustomerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerProfileServlet</servlet-name>
    <url-pattern>/CustomerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogReviewServlet</display-name>
    <servlet-name>BlogReviewServlet</servlet-name>
    <servlet-class>controller.BlogReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogReviewServlet</servlet-name>
    <url-pattern>/BlogReviewServlet</url-pattern>
  </servlet-mapping>
</web-app>